header {
  background-color: #c5aa6a;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: larger;
  font-weight: 400;
  /* min-width: 100vw; */
}

.logo a {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;

}

nav a {
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #54b3d6;
  text-decoration: none;
  color: black;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;

}