.userdetails {
  width: 50%;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 40px;
}

.userdetails .closebutton {
  width: 30px;
  display: block;
  align-items: center;
  position: absolute;
  top: 0;
  right: 10px;
}

.user-update-password {
  position: fixed;
  top: 10%;
  left: 25%;
  width: 50%;
  padding: 20px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.user-update-password {
  padding-bottom: 3px;
}


.user-update-password form {
  display: flex;
  flex-direction: column;
}

.user-update-password input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.user-update-password button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.user-update-password button:hover {
  background-color: #0056b3;
}