.checkallbranchsuper table {
  width: 80%;
  margin: 0 auto;

}

.checkallbranchsuper table th {
  /* background-color: red; */
  text-align: left;
  padding: 15px 0;
}

.checkallbranchsuper table tr {
  text-align: center;
  margin: 10px;
}

.checkallbranchsuper table tr:hover {
  background-color: #ccc;
  /* cursor: pointer; */
}

.checkallbranchsuper table thead tr th {
  background-color: #4CAF50;
}

.checkallbranchsuper button {
  cursor: pointer;
}

.creatnewbranch form fieldset {

  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 10px;
}

.singlebranchfetch {
  width: 80%;
  border: 10px solid #ccc;
}

.singlebranch-entry {
  display: flex;
  align-items: center;

  /* width: 80%; */
  gap: 10px;
  border: 1px dashed #ccc;
}

.singlebranch-entry p {
  /* padding-right: 10px; */
  width: 20vw;

}

.singlebranch-entry p:first-child {
  font-weight: bold;
}

.singlebranch-entry>p,
ul,
ol {
  list-style-type: none;
}

.singlebranch-entry li {
  display: flex;
  gap: 20px;
  align-items: center;

}

@media (max-width:800px) {
  .creatnewbranch form fieldset {
    grid-template-columns: repeat(2, 20px)
  }
}